# Ignore .snakemake
.snakemake/
*/.snakemake.*

# PyCache
*/__pycache__

# generated data files
output/*
!output/readme

# rawdata (size problem)
#genomes_and_annotations/*
#!genomes_and_annotations/readme
#!genomes_and_annotations/snpeffdata

#documentation builds
docs/build/*
docs/build/latex/*

# Notes and experiments
todo
test.R
.DS_Store
